In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime 

from pandas.plotting import scatter_matrix
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv('hotel_bookings.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
print('Total de variáveis:', df.shape[1])
print('Total de entradas:', df.shape[0])

Total de variáveis: 32
Total de entradas: 119390

In [4]:
df['is_canceled'].mean()

0.37041628277075134

In [5]:
pd.DataFrame({'tipo de dados':df.dtypes,
                'dados_ausentes(%)': (df.isnull().sum()/df.shape[0])*100,
                    'valores unicos': df.nunique()}).sort_values(by='dados_ausentes(%)', ascending=False)

,tipo de dados,dados_ausentes(%),valores unicos
company,float64,94.306893,352
agent,float64,13.686238,333
country,object,0.408744,177
children,float64,0.003350,5
reserved_room_type,object,0.000000,10
assigned_room_type,object,0.000000,12
booking_changes,int64,0.000000,21
deposit_type,object,0.000000,3
hotel,object,0.000000,2
previous_cancellations,int64,0.000000,15
days_in_waiting_list,int64,0.000000,128
customer_type,object,0.000000,4
adr,float64,0.000000,8879
required_car_parking_spaces,int64,0.000000,5
total_of_special_requests,int64,0.000000,6
reservation_status,object,0.000000,3
previous_bookings_not_canceled,int64,0.000000,73
is_repeated_guest,int64,0.000000,2
is_canceled,int64,0.000000,2
distribution_channel,object,0.000000,5
market_segment,object,0.000000,8
meal,object,0.000000,5
babies,int64,0.000000,5
adults,int64,0.000000,14
stays_in_week_nights,int64,0.000000,35
stays_in_weekend_nights,int64,0.000000,17
arrival_date_day_of_month,int64,0.000000,31
arrival_date_week_number,int64,0.000000,53
arrival_date_month,object,0.000000,12
arrival_date_year,int64,0.000000,3
lead_time,int64,0.000000,479
reservation_status_date,object,0.000000,926

In [6]:
df.drop(columns = ['agent', 'company'], inplace=True)

In [7]:
pd.DataFrame({'tipo de dados':df.dtypes,
                'dados_ausentes(%)': (df.isnull().sum()/df.shape[0])*100,
                    'valores unicos': df.nunique()}).sort_values(by='dados_ausentes(%)', ascending=False)

,tipo de dados,dados_ausentes(%),valores unicos
country,object,0.408744,177
children,float64,0.003350,5
hotel,object,0.000000,2
is_repeated_guest,int64,0.000000,2
reservation_status,object,0.000000,3
total_of_special_requests,int64,0.000000,6
required_car_parking_spaces,int64,0.000000,5
adr,float64,0.000000,8879
customer_type,object,0.000000,4
days_in_waiting_list,int64,0.000000,128
deposit_type,object,0.000000,3
booking_changes,int64,0.000000,21
assigned_room_type,object,0.000000,12
reserved_room_type,object,0.000000,10
previous_bookings_not_canceled,int64,0.000000,73
previous_cancellations,int64,0.000000,15
distribution_channel,object,0.000000,5
is_canceled,int64,0.000000,2
market_segment,object,0.000000,8
meal,object,0.000000,5
babies,int64,0.000000,5
adults,int64,0.000000,14
stays_in_week_nights,int64,0.000000,35
stays_in_weekend_nights,int64,0.000000,17
arrival_date_day_of_month,int64,0.000000,31
arrival_date_week_number,int64,0.000000,53
arrival_date_month,object,0.000000,12
arrival_date_year,int64,0.000000,3
lead_time,int64,0.000000,479
reservation_status_date,object,0.000000,926

In [8]:
df.query('children.isnull()')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40600,City Hotel,1,2,2015,August,32,3,1,0,2,NaN,0,BB,PRT,Undefined,Undefined,0,0,0,B,B,0,No Deposit,0,Transient-Party,12.0,0,1,Canceled,2015-08-01
40667,City Hotel,1,1,2015,August,32,5,0,2,2,NaN,0,BB,PRT,Direct,Undefined,0,0,0,B,B,0,No Deposit,0,Transient-Party,12.0,0,1,Canceled,2015-08-04
40679,City Hotel,1,1,2015,August,32,5,0,2,3,NaN,0,BB,PRT,Undefined,Undefined,0,0,0,B,B,0,No Deposit,0,Transient-Party,18.0,0,2,Canceled,2015-08-04
41160,City Hotel,1,8,2015,August,33,13,2,5,2,NaN,0,BB,PRT,Online TA,Undefined,0,0,0,B,B,0,No Deposit,0,Transient-Party,76.5,0,1,Canceled,2015-08-09

In [9]:
df = df.dropna(subset=['children', 'country']).reset_index(drop=True)

In [10]:
df['total_days'] = df['stays_in_week_nights'] + df['stays_in_weekend_nights']
df.drop(columns = ['stays_in_week_nights', 'stays_in_weekend_nights'], inplace = True)
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_days
0,Resort Hotel,0,342,2015,July,27,1,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
1,Resort Hotel,0,737,2015,July,27,1,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
2,Resort Hotel,0,7,2015,July,27,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
3,Resort Hotel,0,13,2015,July,27,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
4,Resort Hotel,0,14,2015,July,27,1,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03,2

In [11]:
filtro = (df['babies'] == 0) & (df['children'] == 0) & (df['adults'] == 0)
df = df[~filtro]

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_days
0,Resort Hotel,0,342,2015,July,27,1,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
1,Resort Hotel,0,737,2015,July,27,1,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
2,Resort Hotel,0,7,2015,July,27,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
3,Resort Hotel,0,13,2015,July,27,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
4,Resort Hotel,0,14,2015,July,27,1,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03,2

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86753 entries, 0 to 118897
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           86753 non-null  object
 1   is_canceled                     86753 non-null  int64
 2   lead_time                       86753 non-null  int64
 3   arrival_date_year               86753 non-null  int64
 4   arrival_date_month              86753 non-null  object
 5   arrival_date_week_number        86753 non-null  int64
 6   arrival_date_day_of_month       86753 non-null  int64
 7   adults                          86753 non-null  int64
 8   children                        86753 non-null  float64
 9   babies                          86753 non-null  int64
 10  meal                            86753 non-null  object
 11  country                         86753 non-null  object
 12  market_segment                  86753 non-null  object
 13  distribution_channel            86753 non-null  object
 14  is_repeated_guest               86753 non-null  int64
 15  previous_cancellations          86753 non-null  int64
 16  previous_bookings_not_canceled  86753 non-null  int64
 17  reserved_room_type              86753 non-null  object
 18  assigned_room_type              86753 non-null  object
 19  booking_changes                 86753 non-null  int64
 20  deposit_type                    86753 non-null  object
 21  days_in_waiting_list            86753 non-null  int64
 22  customer_type                   86753 non-null  object
 23  adr                             86753 non-null  float64
 24  required_car_parking_spaces     86753 non-null  int64
 25  total_of_special_requests       86753 non-null  int64
 26  reservation_status              86753 non-null  object
 27  reservation_status_date         86753 non-null  object
 28  total_days                      86753 non-null  int64
dtypes: float64(2), int64(15), object(12)
memory usage: 19.9+ MB

In [15]:
df.drop(columns=['country', 'reservation_status_date', 'reservation_status'], inplace = True)

In [16]:
for i in range(df.shape[0]):
    if (df['assigned_room_type'][i] == df['reserved_room_type']):
        df['room_type'][i] = 0
    else:
        df['room_type'][i] = 1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().